body{
    background-color: #ffffff;
    font-size: 1.3vw;

}

.grille{
    display: grid;
    grid-auto-rows: 1vw;
}

.navbar{
  background-color: #0000;
  box-shadow: 0px 2px 3px #ccc;
  display: flex;
  justify-content: space-between;
  padding: 1.2vw;
  color: rgb(146, 124, 0);
}

.navbar a{
  color: rgb(146, 124, 0);
  margin-right: 1vw; 
}

.liens{
    grid-row-start: 0;
    grid-row-end: 1;
}

h1{
    font-size: 3.5vw;
    width: 100%;
}

.introduction{
    position: relative;
    left: 17%;
    width: 100%;
    display:inline;
}

.introduction-2{
    position: relative;
    left: 10%;
    display: inline-block;
}

p{
    font-size: 1.7vw;
}

.déco{
    position: absolute;
    top:15%;
    left:75%;
}

.déco-2{
    position: absolute;
    top:24%;
    left:75%;
    font-size: 1.3vw;
}

.trait{
    width: 20vw;
    position: absolute;
    top:23%;
    left:75%;
}
.trait-2{
    width: 20vw;
    position: absolute;
    top:38%;
    left:75%;
}

#gris:hover{
    color:#808080;
}

.déco-3{
    position: absolute;
    top:39%;
    left:75%;
    font-size: 1.3vw;
}

.trait-3{
    width: 20vw;
    position: absolute;
    top:53%;
    left:75%;
}

.déco-4{
    position: absolute;
    top:54%;
    left:75%;
    font-size: 1.3vw;
}

