body{
    background-color: #f5f5f5;
    font-size: 1.2rem;
}
.grille{
    display: grid;
    grid-auto-rows: 10px;
}

.navbar{
  background-color: #0000;
  box-shadow: 0px 2px 3px #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(146, 124, 0);
}

.navbar a{
  color: rgb(146, 124, 0);
  margin-right: 10px; 
}
.liens{
    grid-row-start: 0;
    grid-row-end: 1;
}
