body{
    background-color: #ffffff;
    font-size: 1.3vw;
}

.lien_secours{
    font-size:0.9vw;
}
.img_climat{
    position: relative;
    width: 50%;
    left:25%;
}

.liens_src{
    position: relative;
    left: 6%;
    font-size: 2vw;
    color:#d3be47;
}

.grille{
    display: grid;
    grid-auto-rows: 1vw;
}

.sous-titre{
    position: relative;
    left: 8%;
}

.ouistiti{
    display: block;
    position: relative;
    width: 90%;
}

section{
    display: block;
    position: relative;
    width: 70%;
}

.pub{
    position:fixed;
    width: 20%;
    left:78%;
    top:11%;
}

.dévelopement{
    position: relative;
    left: 6%;
}

.navbar{
  background-color: #ffffff;
  box-shadow: -5px 6px 10px #9c9c9c;
  display: flex;
  justify-content: space-between;
  padding: 1.2vw;
  color: rgb(146, 124, 0);
}

.navbar a{
  color: rgb(146, 124, 0);
  margin-right: 1vw; 
}

.liens{
    grid-row-start: 0;
    grid-row-end: 1;
}

h1{
    font-size: 3.5vw;
    width: 100%;
}

.introduction{
    position: relative;
    left: 17%;
    width: 100%;
    display:inline;
}

.introduction-2{
    position: relative;
    left: 10%;
    display: inline;
}

p{
    font-size: 1.7vw;
}

.déco{
    position: absolute;
    top:15%;
    left:75%;
}


.déco-2{
    position: absolute;
    top:24%;
    left:75%;
    font-size: 1.3vw;
}

.déco-2:hover{
    color:#000000;
    cursor: pointer;
    top:25%;
    left:76%;
    text-shadow: -10px -10px 3px #c0c0c0;
    font-size: 1.4vw;
}

.trait{
    width: 20vw;
    position: absolute;
    top:23%;
    left:75%;
}
.trait-2{
    width: 20vw;
    position: absolute;
    top:38%;
    left:75%;
}

.déco-3{
    position: absolute;
    top:39%;
    left:75%;
    font-size: 1.3vw;
}

.déco-3:hover{
    color:#000000;
    cursor: pointer;
    top:40%;
    left:76%;
    text-shadow: -10px -10px 3px #c0c0c0;
    font-size: 1.4vw;
}

.trait-3{
    width: 20vw;
    position: absolute;
    top:53%;
    left:75%;
}

.déco-4{
    position: absolute;
    top:54%;
    left:75%;
    font-size: 1.3vw;
}

.déco-4:hover{
    color:#000000;
    cursor: pointer;
    top:55%;
    left:76%;
    text-shadow: -10px -10px 3px #c0c0c0;
    font-size: 1.4vw;
}
